<div class="navbar navbar-fixed-left">
    <img  class="img-responsive" src="http://orig12.deviantart.net/eafe/f/2009/332/6/c/mustache_reindeer_by_starluck.jpg"/>
    <ul>
        <li>@Html.ActionLink("About","About")</li>
        <li>Portfolio</li>
        <li>Resume</li>
        <li>Contact</li>
    </ul>
</div>

<div class="row">
    <h1 class="text-center">Sven Slarson</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3" style="background-color:orange">
            <img src="http://orig12.deviantart.net/eafe/f/2009/332/6/c/mustache_reindeer_by_starluck.jpg" width="50" />
        </div>
        <div class="col-md-9">
            <p>Hello! I'm Sven Slarson, Reindeer developer extraordinaire, based in San Paolo, Brazil. I spend my time working as a full statck developer for Santa.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">Android</div>
        <div class="col-md-4">IOS</div>
        <div class="col-md-4">ASP.NET</div>
    </div>
</div>